{% extends 'base.html' %}

{% block content %}
  <h1>고객 DB</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">이름</th>
        <th scope="col">성</th>
        <th scope="col">나이</th>
        <th scope="col">지역</th>
        <th scope="col">번호</th>
        <th scope="col">잔고</th>
      </tr>
    </thead>
    <tbody>
      {% comment %} 반복 시작 {% endcomment %}
      {% for user in users %}
      <tr>
        <th scope="row">{{ user.pk }}</th>
        <td> <a href="{% url 'users:profile' user.pk %}">{{ user.first_name }}</a></td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.age }}</td>
        <td>{{ user.country }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.balance }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <form class="mb-5" method='GET'>
    
    <select name="selected_type">
      <option value="first_name" selected>이름</option>
      <option value="country">지역</option>
    </select>

    <input name="search">
    <input type="submit" value="검색하기">

  </form>
  
{% endblock content %}